# Build system copied/modified from
# http://www.scons.org/cgi-bin/wiki/AdvancedBuildExample
# Original by zedshaw@zedshaw.com
import os
import glob

## This module requires libraries:
## ACE
## KadC

## If libraries are in some non standard paths, specify them here
lib_search_path = ['#../../libs/ACE_wrappers',
                   '#../../libs/KadC']

## Where we should find things to include
include_search_path =  ['#../../libs/ACE_wrappers',
                        # For KadC:
                        '#../../libs',
                        # This is for examples and tests to find
                        # libraries header files
                        '#/src'                        
                        ]
libs = []
defs = ['ACE_AS_STATIC_LIBS', ('ACE_NTRACE', 1),
        '__KADC_DO_NOT_REDEFINE_ALLOC_MACROS__',
        '_REENTRANT']
flgs = ['-Wall']

# Libs that built exes need. By default only ACE and KadC, but 
# platform specific SConstruct files might add here more
exe_libs = ['dht', 'ACE', 'KadC']

#### You should not change these.  These are only here
#### If you want to start your own build setup with a
#### different layout than mine.
source_base_dir     = 'src'
lib_source_dir      = 'src/dht'
test_source_dir     = 'src/tests'
example_source_dir  = 'src/examples'
build_base_dir      = 'build'
target_name         = 'dht'


